.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Затемненный фон */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  display: flex;
  justify-content: flex-end;
  width: 80%;
  max-width: 500px;
  position: relative;
}

.close {
  color: #aaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

.modal-content {
  animation: modalopen 1s;
}

@keyframes modalopen {
  from {opacity: 0; transform: translateY(1000px);}
  to {opacity: 1; transform: translateY(0);}
}


.forms
{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-end  ;

}

.form_item
{
  width: 100%;
}
.form_item p
{font-size: 1rem;}
.form_reg
{
  width: 100%;
border-radius: 0%;
border: none;
border-bottom: 1px solid gray;
height: 30px;
margin-top: 2rem;
}

.form_reg:focus,
.form_reg:active {
  outline: none !important;
  box-shadow: none !important;
  border: none;
  border-bottom: 1px solid gray;
}
